body{
    color:blue;
    background:whitesmoke;
    margin: 0px;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color:rgb(230, 230, 6)

}

section{
    background: rgb(227, 180, 180);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}